<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.tracking.mapper.OrdersMapper">

    <insert id="autoInsertOrders">
        INSERT INTO Orders (admin_id, date_time, quantity_ordered, total_price, delivery_address, customer_name)
        VALUES (#{admin_id}, NOW(), #{quantity_ordered}, #{total_price}, #{delivery_address}, #{customer_name})
    </insert>

</mapper>